/*----------------------------------------------------------
The base color for this template is#d4dbe2. If you'd like
to use a different color start by replacing all instances of
#ddd with your new color.
----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td {
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
}

button, input, select, textarea, li {
    font-size: 110%;
    margin: 0;
    vertical-align: baseline;
    text-decoration:none;
}

body {
    background-color:#d4dbe2;
    font-size: 0.85em;
    font-family: Verdana, Arial, sans-serif;
    color: #696969;
	overflow: hidden;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

input[type=checkbox]:focus {
    outline: 1px dotted #FF6D0A;
}

select:focus {
    outline: 1px dotted #FF6D0A;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 10px;
    margin-top: 120px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #333399;
    border: none;
    line-height: 2em;
    /*font-size: 24px !important;*/
    display: inline;
}

header, #logo {
    float: left;
}

#header #logo {
    left: -40px;
    position: absolute;
    top: -50px;
}

#main {
    padding: 20px 30px 15px 30px;
    background-color: #F8F8F8;
    clear: both;
}

footer, 
#footer {
    background-color:#d4dbe2;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

.inline-block {
    min-height: 150px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    /* attributes for old IE versions
    zoom: 1;
    *display: inline;
    _height: 250px;*/
}

/* Header block (top most)
----------------------------------------------------------*/
.title-block-line {
    background: #8ac1eb url("Images/bg_logo.jpg") 100% 0 repeat-y;
    min-height: 80px;
}

#mainHeader {
    margin-top: 10px;
}

/* Locations block (top-left)
----------------------------------------------------------*/
.locations-box {
    width: 100px;
}

li.unmark {
    list-style-type: none;
    margin-top: 10px;
}

.loader {
    background: transparent;
    border: 0px;
}

/* Persons removal block (top-right)
----------------------------------------------------------*/
.persons-box {
    width: 635px;
}

.persons-box div {
    float: left;
    
}

.persons-box input {
    width: 33px;
    height: 33px;
    margin: 0 21px 10px 21px;
}

.persons-box input.ui-button {
    padding: 0;
    padding-bottom: 4px;
}

.persons-selection {
    width: 280px;
    padding: 2px;    
}

#middleControls {
    margin-top: 40px;
}

/* Commands block (bottom most)
----------------------------------------------------------*/
.create-list-container {
    height: 35px;
    line-height: 35px;
    text-align: justify;
}

.create-list-container:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}

.create-list-container input.ui-button {
    padding: 0 10px;
    margin: 0;
    height: 33px;
    line-height: 33px;
    display: inline-block;
    vertical-align: top;
}

.no-persons-notice {
    display: inline-block;
    vertical-align: top;
    margin: 5px 0 0 10px;
}

.no-persons-notice .ui-state-error {
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
}

.ui-state-error .ui-icon {
    margin: 2px;
    float: left; 
}

#persons-count-span {
    width: 35px;
    text-align: right;
    display: inline-block;
    font-weight: bold
}

#right-block{
    display: inline-block;
    text-align: right;
}

.help {
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:middle;
    position:relative;
}

.help span {
    cursor:pointer;
    color: #102990;
    margin-right: 10px;
    position: relative; 
    top: -5px;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width:16px;
    height:16px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAiZJREFUeNqUU01rE1EUffOVmWSSTJoaowZLNkKGBLG0QgsaRDfu3fkLXOc/+AtcKOiugSAuKoIrwY0IieKETDJNzSx0kUJ0om2azPfMG+8UWpLaqXjhwh3euefd8+4ZIggCdByNRgORJIkIgijBp4gxFiCR7/sTz/P6pmnuWpaFarXaSQ+NFoMAwtuptLAmlitVLpXNHRqerR9o2tee1JzNZhcB8wHy5FZyvtt1XZFPptard+494oXcNddH7Hjm+t91Lr1evf+QT6bXdF0X53sWCGC8cuX66l3LxdjzsU2CFpoiKN3yLHWk79/cvFU1DKMcSQCHgpBdLgKBgQMUmK7vTE3P9nEQOB62l3KXC4DJzPcsvAFoDAzbt/b2rcNQ59R07dGBbdMkSfAsRZNE4AEBjiQAfdpgd0dBwkpx77f5K7w5bM4kGSYvcGl1p/sNZGqREmBN0ru3262VJSYmJBhWSMTofIZlLwlc4gJPxF42tj46jiNFEsAKhz9/jNqvtp6/WS1mrhayHJ9Ls1xhOZ5/8fTJ9ljT2gAbRhKMx+NwEy250x6oSruX4Rk+HqO4fueL3Ot2BgBpzRvvLB+EicF58udPzTbLUHHIRFjDsQyJTxnvLycex7CvdKfgAwq2GYT16dH/RWBKkoTl5vuKqqqoXq/fKJVKz/6H4ChEsYQcJ3ZUK4pyJoY8jyB81MlEOw8SPQH8xq83NjYfQHkFXv5xFO6PAAMAgNkb+oN89AUAAAAASUVORK5CYII=") no-repeat;
}

.help:hover span {
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAjVJREFUeNp8k8trE1EUh8+9d2aSZtqmLdrGCVhrCuZhHwvFVlAi6s6dG7ddKIgL1y5KV134B3Sl4EYXogsRhFKxlBCkUoxtMY3TNMYsjI+kpmmTmsm8PBMYTEInBy7n3Dnn990z90FM0wTbns+RhicEguhCmOq3suj3cSQ1HVK6DjDz8L+Gg1azCJe9vvC5SPRu1CsN+2u1vFn6nv0hx1/G/+QzEuaXLaYtoM1qw4Sw98TZC1dmntwbOBmKANE9NSUv6O5ccPrWgzu9vjMXsYuJZk0LANubGL92/6puVKlh1FWrQcbcoGllrbS3Siav344i4HyzpuUXMHmsTwoENO1AQbaJQkNRfoFhqASB+oB/ZLiuwVAnAFdXilr1cFsnhDbElcoOR6mL8nwfAZOp2Bd1BKgaFHLJuNzrp5OVivzXWpkxgbpcEhHF0/y3rXUZAT8d9wAB71ffPPskdo3VBOG44Hb7mMcToKI4ylz8qdryi4UN3YAVRwCedWZvd/fD26cLi76hG+6enjD1eEYoetfrR/NL+6VCHGu2HQEHh40uljLJRObr5+SmIAzyHNfNdjY+bmZTa5Zwse3etB2j0Rg6rhJLrb3bQjHPWLdgxZiOWSXtgPabaFs6JycUQhjB0wArtr4dVdgCKKgRO6zGEjQ7Hu8aTKfTMPtY6b80BlU7OecE+K2Gm2ZfIBQKQr0uNGYr60e3SqGDFYtFKJcLnUoc9wCvr/Fqamr6JoYSPvl5p7p/AgwAFKP3lX7seX8AAAAASUVORK5CYII=") no-repeat;
}

.help .help-container {
     width:350px;
     font: 12px/1.4 Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
     display:none;
     top: 40px;
     position: absolute;
     background: rgba(0,0,0,0.3);
     left:50%;
     margin-left:-390px;
     z-index: 1;
     color: #fff;
     padding: 15px 10px;
     border-radius: 5px;
}

.help .help-container p {
    margin-bottom: 0;
    text-align: center;
}

.help .help-container:after {
    content:''; position: absolute;top: -8px;left: 93%; margin-left: -10px; width: 10px; height: 8px; background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAMAAAD3JJ6EAAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMATX7+8BUAAAAhSURBVHjaXcZBCgAACITA/P+nayGE8iBTCfJHJiU12yHWBfYALiWlfPEAAAAASUVORK5CYII=") no-repeat;
}

.help:hover .help-container {
    display:block ;
}

/* Email list dialog window (pop-up)
----------------------------------------------------------*/
#dialog {
    padding: 0px;
    
}

#copyClipboardMessage{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#textarea {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: 480px;
    display: block;
    resize: none;
    padding: 5px;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box; /* FF1+ */
    box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}