/*----------------------------------------------------------
The base color for this template is#d4dbe2. If you'd like
to use a different color start by replacing all instances of
#ddd with your new color.
----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td {
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
}

button, input, select, textarea, li {
    font-size: 110%;
    margin: 0;
    vertical-align: baseline;
    text-decoration:none;
}

body {
    background-color:#d4dbe2;
    font-size: 0.85em;
    font-family: Verdana, Arial, sans-serif;
    color: #696969;
	overflow: scroll;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #333399;
    border: none;
    line-height: 2em;
    /*font-size: 24px !important;*/
    display: inline;
}

header, #logo {
    float: left;
}

#main {
    padding: 20px 30px 15px 30px;
    background-color: #F8F8F8;
    clear: both;
}

footer, 
#footer {
    background-color:#d4dbe2;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

.inline-block {
    min-height: 150px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    /* attributes for old IE versions
    zoom: 1;
    *display: inline;
    _height: 250px;*/
}

/* Header block (top most)
----------------------------------------------------------*/
.title-block-line {
    background: #8ac1eb url("Images/bg_logo.jpg") 100% 0 repeat-y;
}


/* Locations block (top-left)
----------------------------------------------------------*/
.locations-box {
    width: 15%;
}

li.unmark {
    list-style-type: none;
    margin-top: 10px;
}

.loader {
    background: transparent;
    border: 0px;
}

/* Persons removal block (top-right)
----------------------------------------------------------*/
.persons-box {
    width: 80%;
}

.persons-box div {
    float: left;
    padding-right: 10px;
}

.persons-box input {
    width: 115px;
    margin-bottom: 4px
}

.persons-selection {
    width: 200px;    
}

/* Commands block (bottom most)
----------------------------------------------------------*/
.create-list-container {
    height: 35px;
    line-height: 35px;
}

.create-list-container input.ui-button {
    padding: 0 10px;
    margin: 0;
    height: 33px;
    line-height: 33px;
    display: inline-block;
    vertical-align: top;
}

.no-persons-notice {
    display: inline-block;
    vertical-align: top;
    margin: 5px 0 0 10px;
}

.no-persons-notice .ui-state-error {
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
}

.ui-state-error .ui-icon {
    margin: 2px;
    float: left; 
}

#persons-count-span {
    width: 35px;
    text-align: right;
    display: inline-block;
    font-weight: bold
}

/* Email list dialog window (pop-up)
----------------------------------------------------------*/
#copyClipboardMessage {
    position: absolute;
    top: 0px;
    height: 30px;
    left: 0px;
    right: 0px;
    margin-top: 5px;
    margin-left: 5px;
}

#textareaContainer {
    border: none;
    position: absolute;
    top: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    overflow-y: auto;
}

#textareaContainer textarea {
    width: 98%;
    height: 98%;
    resize: none;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box; /* FF1+ */
    box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}
