DLExt.suo
DLExt.sln.DotSettings.user
packages/
_ReSharper.DLExt/
DLExt.Infrastructure/bin/
DLExt.Infrastructure/obj/
DLExt.Model/bin/
DLExt.Model/obj/
DLExt.Outlook2010AddIn.Setup/Release/
DLExt.Outlook2010AddIn.Setup/Debug/
DLExt.Outlook2010AddIn/bin/
DLExt.Outlook2010AddIn/obj/
DLExt.OutlookAddin.Setup/Release/
DLExt.OutlookAddin.Setup/Debug/
DLExt.OutlookAddin/bin/
DLExt.OutlookAddin/obj/
DLExt.Service/bin/
DLExt.Service/obj/
DLExt.Web/bin/
DLExt.Web/obj/