<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="CacheFor120Seconds" duration="120" varyByParam="none"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>  
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
      <serviceActivations>
        <add relativeAddress="DistributionList.svc" service="DLExt.Service.DistributionListService, DLExt.Service"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="DLExt.Service.DistributionListService">
        <endpoint address="rest" binding="webHttpBinding" contract="DLExt.Service.IDistributionListService" bindingConfiguration="webHttpBindingWithJsonP" behaviorConfiguration="HelpBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8888/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>      
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP"
                  crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>      
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="HelpBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
